.toolbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #131b4b;
  color:white;
}
.dropdown-menu{
  color: white;
}

.toolbar-parent{
  height: 60px;
}

.user-email{
  display: inline-block;
  color: white;
  padding: 12px;
}

.drawer{
  display: flex;
  padding: 12px;
}

// .dropdown, title{
//   display: flex;
// }
