.toolbar{
  width: 100%;
  background: green;
  margin: 0px;
  overflow: hidden;
  padding : 0px;

}

.toolbar-parent{
  display: flex;
  top: 0;
  flex-wrap: wrap;
  text-align: center;
  height: 60px;
}

.user-email{
  float: right;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}
