<div class="toolbar-parent">
  <nav class="toolbar">
    <div class="drawer">
      <div class="dropdown">
        <div class="dropdown-menu">
          <a href="#" class="dropdown-toggle">click</a>
          <ul class="dropdown-menu">
            <li><a href="#">sadafl</a></li>
            <li><a href="#">sadafl</a></li>
            <li><a href="#">sadafl</a></li>
          </ul>
        </div>
      </div>



      <div class="title">
        <h3>dashboard challenge</h3>
      </div>
    </div>
    <div class="user-email">
      <h3>{{ email }}</h3>
    </div>
  </nav>
</div>






